<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>
	<h2>BMW 530e</h2><br>
	 <center><img  src="BMW530e.jpg"  width="25%">
	 <left><img    src="BMW530e3.jpg"  width="25%"></left>
	 <rigt><img    src="BMW530e2.jpg"  width="25%"></rigt></center>
	<p>En conjunto, el BMW 530e consigue 252 CV de potencia  y 420 Nm de par con los que logra una aceleración de 0-100 km/h en tan sólo 6,2 segundos y una velocidad máxima de 235 km/h.
		La transmisión es automática de 8 velocidades.</p>

	<p>Su consumo homologado es de 1,9l/100 km y tiene unas emisiones combinadas de 44 g/km de CO2.
		Es capaz de recorrer hasta 50 kilómetros impulsado únicamente por el motor eléctrico.</p>
	<p><b>PRECIO: 71.166,76</b></p>

      <center><img    src="caracteristica de BMW 530e.png"  width="90%"></center>

</form>
</body>
</html>