<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>

	<h2>BMW 330e</h2><br>
	 <center><img  src="BMW330e.jpg"  width="25%">
	 <left><img    src="BMW330e3.jpg"  width="25%"></left>
	 <rigt><img    src="BMW330e2.jpg"  width="25%"></rigt></center>
	<p>En el BMW 330e es la versión híbrida enchufable del sedan de la Serie 3. BMW aplica en este modelo el uso inteligente de materiales ligeros y optimiza la aerodinámica para mejorar el rendimiento.
		La potencia total, suma del motor eléctrico y de combustión, permiten unos 252CV.</p>

	<p>La autonomía eléctrica es de 40 km con una batería de 7,6 kWh. El 330e alcanza una velocidad punta de 225 km/h y acelera de 0 a 100 km/h en 6,1 segundos.
		El coche híbrido enchufable ha sido diseñado para tres modos de conducción donde sus características permiten obtener el mejor rendimiento.
        <b>PRECIO:  53.286,84<b></p>

	<p><center><h3>Resumen de los datos técnicos</h3></center>

	<p>Combustible:	Gasolina</p>
	<p>Número de cilindros:	4</p>
	<p>Cilindrada:	1.998 cm³</p>
	<p>Potencia máxima:	252 CV / 185 kW</p>
	<p>Consumo medio:	1,9 l/100 km</p>
	<p>Aceleración: 0-100 km/h	6,1 s</p>
	<p>Tracción:	Trasera</p>
	<p>Caja de cambios:	Automático</p>
	<p>Longitud:	4.633 mm</p>
	<p>Anchura:	1.811 mm</p>
	<p>Altura:	1.429 mm</p>
	<p>Peso:	1.735 kg</p>
	<p>Número de plazas:	5</p>
	<p>Volúmen maletero principal:	370 litros</p>
	<p>Neumáticos delanteros:	205/60 R16 92W</p>
	<p>Neumáticos traseros:	205/60 R16 92W</p>
	</p>

	<body2>
         <fooster>
			 <font color="white">Derechos Reservado | Carlos Cabarca &copy</font>
		 </fooster>
	</body2>
</form>
</body>
</html>