<!DOCTYPE html>
body{
	background:#e6e6e6;
	padding-top: 80px;
}

header{
	background: #528fd5;
	color: white;
	height: auto;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

nav{
	background:#528fd5;
	margin-top:10px;
	position:relative;
}

nav ul{
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li{
	float:left;
}

nav ul li a{
	text-decoration:none;
	color:#fff;
	display:block;
	padding:10px 20px;
}
nav ul li a:hover{
	background:#3669a3;
}

nav > ul > li:hover div{
	display:table;
}
/*submenu*/
nav ul li div{
	width:10%;
	position:absolute;
	left:1;
	background:#ccf;
	opacity:1.5;
	box-sizing:border-box;
	display:none;
}

nav ul li div ul{
	width:20%;
	display:table-cell;
	borer-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;
}

nav ul li div ul:last-child{
	border:none;
}

nav ul li div ul .titulo{
	background:#000;
	color:#fff;
}

nav ul li div ul .titulo a{
	color:#fff;
	padding:10px 20px;
}


nav ul li div ul .titulo a:hover{
	 background:none;
 }

 nav ul li div ul li a{
	 color:#000;
 }

 nav ul li div ul li a:hover{
	 color:#fff;
 }

/*slider*/
.slider{
width:80%;
margin:auto;
overflow:hidden;
}

.slider ul {
display:flex;
padding:0;
width:400%;

animation: cambio 30s infinite  linear;
}

.slider li{
width:90%;
list-style:none;
}

.slider img{
width:85%
}

@keyframes cambio{
0%{margin-left:0;}
20%{margin-left:0;}

25%{margin-left:-100%;}
45%{margin-left:-100%;}

50%{margin-left:-200%;}
70%{margin-left:-200%;}

75%{margin-left:-300%;}
100%{margin-left:-300%;}
}
/*fooster*/
body2{
margin:0;
padding:0;
display:flex;
min-height:13.1vh;
flex-wrap:wrap;
}

fooster{
align-self: flex-end;
background-color:rgba(120,120,120,.5);
line-height:3;
text-align:center;
width:100%;
}
