<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false" bgcolor="#C0C0C0">
<form action="http://localhost:5000/" method="GET">
	<header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		      <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
	</header>
    <br><br>
    <!--base de datos-->
</br>
    Nombre:</br>
    <input type="text" name="txtNombre"/></br>
    Apellido:</br>
    <input type="text" name="txtApellido"/></br>
    Direccion:</br>
    <textarea name="txtDireccion"></textarea></br>
    Sexo:</br>
    <input type="radio" name="sexo"/>Hombre
    <input type="radio" name="sexo"/>Mujer</br>
    Fecha de nacimiento:</br>
    Dia:
    <select name="dia">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
    </select>
    Mes:
    <select name="mes">
        <option></option>
        <option>Enero</option>
        <option>Febrero</option>
        <option>Marzo</option>
        <option>Abril</option>
        <option>Mayo</option>
        <option>Junio</option>
        <option>Julio</option>
        <option>Agosto</option>
        <option>Septiembre</option>
        <option>Octubre</option>
        <option>Noviembre</option>
        <option>Diciembre</option>
    </select>
    Año:
    <input type="text" name="txtAño" size="5"/></br>
    Incluir Foto:</br>
    <input type="file" name="btnFile"/></br>
    E-mail:</br>
    <input type="text" name="txtCorreo"/></br>
    <input type="checkbox" name="checkAcuerdo"/>Enviarme novedades a mi correo electronico</br>
    <input type="submit" name="btnEnviar" value="Enviar Datos"/>
</form>
</body>
</html>