<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false" background="fondo.jpg" >
<form action="http://localhost:5000/" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>
	<center><h2><font color="white">WELCOME TO ALL CAR</font></h2></center>
	<h2> <font color="white">Donde encontraras todo sobre auto</font></h2>
	<center>
		<div class="slider">
			<ul>
				<li><img  src="nissan.jpg"   alt=""></li>
				<li><img  src="nissan3.jpg"  alt=""></li>
				<li><img  src="bmw2.jpg"     alt=""></li>
				<li><img  src="nissan2.jpg"  alt=""></li>
			</ul>
		</div>
	</center>
	<body2>
         <fooster>
			 <font color="white">Derechos Reservado | Carlos Cabarca, Joseph Perez, Alexis Martines, Abner Cedeño &copy</font>
		 </fooster>
	</body2>
</form>
</body>
</html>