<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/estilo.css" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">POSTVENTA</a>
			  <div>
			    <ul>
				<li><a href="">Mantenimientos</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>
	<h2>Nissan-370z</h2>
	 <center><img  src="Nissan-370Z.jpg"  width="25%">
	 <left><img    src="Nissan-370Z2.jpg"  width="25%"></left>
	 <rigt><img    src="Nissan-370Z3.jpg"  width="25%"></rigt></center>

    <p><b>PRECIO:  38.895,88 <b></p>

	<p><center><h3>Resumen de los datos técnicos</h3></center>

	<p>Combustible:	Gasolina</p>
    <p>Motor: V6 3.7L</p>
    <p>Potencia hp/rpm: 332/7,000</p>
    <p>Torque lb.-pie/rpm: 270/5,200</p>
    <p>Transmisión: Automática 7 velocidades con modo manual</p>
    <p>Tracción: Trasera</p>
    <p>Asientos: Deportivos, forrados en piel con ajustes manuales y eléctricos</p>
    <p>Volante: Forrado en piel con controles de audio y crucero, y paletas de cambios</p>
    <p>Entretenimiento: AM/FM, CD, MP3, USB, bluetooth, navegador y sistema de sonido Bose</p>
    <P>Bolsas de aire: Frontales, laterales y de cortina</P>
    <p>Cinturones: Dos de tres puntos</p>
    <P>Frenos: De disco con ABS</P>
    <p>Otros sistemas: Control de tracción y estabilidad, diferencial de derrape limitado, distribución electrónica del frenado y asistente de frenado.</p>

    <p><center><h3>Cifras que debes conocer</h3></center>

    <p>5.6 segundos son suficientes para 0 a 100 km/h</p>
    <p>1,535 kilogramos es el peso total de auto</p>
    <p>11.1 km/l es el rendimiento 370Z en carretera</p>
    <p>2 versiones de transmisión se ofrecen: manual de seis y automática de siete velocidades</p>
</form>
</body>
</html>