<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/estilo.css" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">POSTVENTA</a>
			  <div>
			    <ul>
				<li><a href="">Mantenimientos</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>
	<h2>Nissan Navara-NP300</h2><br>
	 <center><img  src="Nissan Navara-NP300.jpg"  width="25%">
	 <left><img    src="Nissan Navara-NP300-2.jpg"  width="25%"></left>
	 <rigt><img    src="Nissan Navara-NP300-3.jpg"  width="25%"></rigt></center>
	<p>La gama de motores está compuesta por uno Diesel de 2,3 litros de cilindrada con dos niveles de potencia: 160 y 190 caballos.
        Ambos proceden de la alianza entre Nissan y Renault y están presentes en vehículos de ambas marcas.
        La principal diferencia entre estos dos motores —además de la potencia— está en el número de turbocompresores: uno para el de 160 CV y dos para el de 190.
        La caja de cambios de serie es manual de seis velocidades, aunque la versión de 190 CV puede ir asociada a una automática de siete relaciones, en todos los casos con reductora.
        El sistema de tracción es uno con acoplamiento central.
        Es decir, el Navara debe circular en tracción a dos ruedas mientras haya buena adherencia, y la tracción total sólo debe conectarse cuando la adherencia es baja.
        En opción, hay disponible un diferencial de bloqueo mecánico.</p>

	<p>El consumo medio homologado es 6,4 l/100 km, una cifra mucho más baja que la de su antecesor (gastaba 8,2 l/100 km de media en el mejor de los casos; ficha comparativa ).
        Frente a sus principales alternativas también es un consumo bajo, únicamente igualado por el Mitsubishi L200; ficha comparativa ).
        <b>PRECIO:  26.850,52<b></p>

	<p><center><h3>Resumen de los datos técnicos</h3></center>

	Combustible: Gasólina
    <p>Número de cilindros: 4</p>
    <p>Cilindrada:	2.299 cm³</p>
    <p>Potencia máxima: 163 CV / 120 kW</p>
    <p>Consumo medio: 6,4 l/100 km</p>
    <p>Aceleración: 0-100 km/h	12 s</p>
    <p>Tracción: Total</p>
    <p>Caja de cambios: Manual</p>
    <p>Longitud: 5.300 mm</p>
    <p>Anchura: 1.850 mm</p>
    <p>Altura: 1.805 mm</p>
    <p>Peso: 2.023 kg</p>
    <p>Número de plazas: 5</p>
    <p>Neumáticos delanteros: 255/70 R16</p>
    <p>Neumáticos traseros: 255/70 R16</p>
	</p>

</form>
</body>
</html>