<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/estilo.css" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">POSTVENTA</a>
			  <div>
			    <ul>
				<li><a href="">Mantenimientos</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>
	<h2>Nissan GT-R</h2><br>
	 <center><img  src="Nissan-GT-R-2017.jpg"  width="25%">
	 <left><img    src="Nissan-GT-R-2017-2.jpg"  width="25%"></left>
	 <rigt><img    src="Nissan-GT-R-2017-3.jpg"  width="25%"></rigt></center>
	<p>El Nissan GT-R es un automóvil súper propulsado por el motor de Nissan VR38DETT, un motor V6 DOHC de 3,8 L (3799 cc) con Doble Turbo.
        Según pruebas dinamométricas independientes, el GT-R produce 560 CV (422 kW) y 600 Nm a las cuatro ruedas.
        Su velocidad máxima es de 315 km/h . Acelera de 0-100 km/h en 2.9 segundos. El motor también cumple la ULEV.
        El coeficiente de resistencia es 0,27.</p>

	<p>El V6 de 3799 cc (3.8l; en cu 231,8) del GT-R V-SPEC se alimenta por un doble turbo sin ningún aumento de potencia, pero incorpora un nuevo controlador de impulso de marcha que aumenta temporalmente la presión, con lo que debería entregar un mayor par de medias a altas revoluciones.
        Otros cambios incluyen un tubo de escape de titanio, revisiones en la suspensión, frenos cerámicos de carbono, y de ruedas Nismo de 20 pulgadas (510 mm).
        El peso total se redujo en 60 kg respecto al GT-R estándar.
        <b>PRECIO: 127.161,88 <b></p>

	<p><center><h3>Resumen de los datos técnicos</h3></center>

    <p>Combustible	Gasolina</p>
    <p>Número de cilindros	6</p>
    <p>Cilindrada	3.799 cm³</p>
    <p>Potencia máxima	600 CV / 441 kW</p>
    <p>Consumo medio	11,8 l/100 km</p>
    <p>Aceleración 0-100 km/h	2,8 s</p>
    <p>Tracción	Total</p>
    <p>Caja de cambios	Automático</p>
    <p>Longitud	4.690 mm</p>
    <p>Anchura	1.895 mm</p>
    <p>Altura	1.370 mm</p>
    <p>Peso	1.800 kg</p>
    <p>Número de plazas	4</p>
    <p>Volúmen maletero principal	315 litros</p>
    <p>Neumáticos delanteros	255/40 R20 87Y</p>
    <p>Neumáticos traseros	285/35 R20 90Y</p>
	</p>
</form>
</body>
</html>