<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/estilo.css" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">POSTVENTA</a>
			  <div>
			    <ul>
				<li><a href="">Mantenimientos</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br>
	<h2>Toyota Land Cruiser Prado 2017</h2>
		<br>

	 <center><img  src="land cruiser prado 2017.jpg"  width="25%">
	 <left><img    src="land cruiser prado 2017 2.jpg"  width="25%"></left>
	 <rigt><img    src="land cruiser prado 2017 3.jpg"  width="25%"></rigt></center>

	<p>El Toyota Land Cruiser es un automóvil todoterreno producido por el fabricante japonés de automóviles Toyota desde el año 1951.
        El Land Cruiser se utiliza extensamente alrededor del mundo en las áreas que requieren alta fiabilidad y rendimiento en caminos no pavimentados.
        El Toyota Land Cruiser junto con la pickup Hilux es símbolo de la dureza característica de Toyota.
        El Lexus LX es una versión rebautizada del Toyota Land Cruiser, que la marca de lujo Lexus desarrolló para América del Norte.
        Hay tres generaciones, que coinciden con la sexta, séptima y octava generación del Land Cruiser.</p>

	<p>
        <b>PRECIO:  87.200.00<b></p>

	<p><center><h3>Resumen de los datos técnicos</h3></center>

    <p>Motor tracción:	delantero - integral permanente</p>
    <p>Transmisión: automática secuencial 5 velocidades</p>
    <p>Neumáticos:	265/65/R17</p>
    <p>Frenos (del. - tras.): discos ventilados - discos ventilados</p>
    <p>Suspensión delantera: doble brazo con resortes, amortiguadores y barra estabilizadora</p>
    <p>Suspensión trasera:	eje rígido, con amortiguadores telescópicos inclinados, resortes helicoidales, doble brazo de control y barra estabilizadora</p>
    <p>Combustible: Gasolina</p>
    <p>Cilindrada: 3956 cc</p>
    <p>Potencia: 275/5600 cv/rpm</p>
    <p>Torque:	381/4400 N•m/rpm</p>
    <p>Alimentación: inyección electrónica</p>
    <p>Cilindros: 6 en V</p>
    <p>Válvulas: 24</p>
    <p>Sistema start / stop: no</p>

    </p>

	<body2>
         <fooster>
			 <font color="white">Derechos Reservado | Carlos Cabarca &copy</font>
		 </fooster>
	</body2>
</form>
</body>
</html>