<!doctype html>
<html lang="es" class="no-js">
<meta charset="utf-8">
<head>
<title>Proyecto de programacion 3</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ondragstart="return false">
<form action="http://localhost:5000/estilo.css" method="GET">
     <header>
	    <nav>
	       <ul>
		     <li><a href="Menu.html">INICIO</a></li>

		     <li><a href="#">PRODUCTOS</a>
			 <div>
			    <ul>
				<li><a href="Nissan.html">NISSAN</a></li>
				<li><a href="Toyota.html">TOYOTA</a></li>
				<li><a href="Audi.html">AUDI</a></li>
				<li><a href="Bmw.html">BMW</a></li>
				<li><a href="Honda.html">HONDA</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">POSTVENTA</a>
			  <div>
			    <ul>
				<li><a href="">Mantenimientos</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="#">INFORMACION</a>
			  <div>
			    <ul>
				<li><a href="formulario.html">Cotizar</a></li>
				</ul>
			 </div>
			 </li>

		     <li><a href="contacto.html">CONTACTOS</a></li>
		   </ul>
	    </nav>
     </header>
     <br><br>
	<center><h2></h2></center>
	<h2>Toyota GT 86</h2><br>
	 <center><img  src="Toyota GT 86.jpg"  width="25%">
	 <left><img    src="Toyota GT 86 2.jpg"  width="25%"></left>
	 <rigt><img    src="Toyota GT 86 3.jpg"  width="25%"></rigt></center>
	<p>Toyota GT 86 goza de un motor V6 de 328 CV de potencia.
        El Toyota GT 86 tiene una longitud de 4.240 mm, una anchura de 1.775 mm y una altura de 1.285 mm.
        Su maletero es de 243 litros (ver imagen del maletero) y su peso en vacío es de 1.239 kg.
        Su depósito de combustible tiene una capacidad de 50 litros.
</p>

	<p>La mecánica del Toyota GT 86 está formada por un motor bóxer de 4 cilindros y 2 litros desarrollado conjuntamente por Subaru, el bloque, y Toyota, el sistema de inyección (ver imagen del motor).
        Este motor desarrolla 200 caballos, con un par de 205 Nm.
        Es tracción trasera y asociado a la transmisión manual de 6 relaciones consigue marcar una velocidad máxima de 226 km/h, con una aceleración en el 0 a 100 km/h de 7.6 segundos.
        También se ofrece con una transmisión automática, aunque con ella, se pierte gran parte del atractivo dinámico de este modelo. La velocidad máxima del modelo automático es de 210 km/h mientras que la aceleración en el 0 a 100 km/h es de 8.2 segundos.
        Con el cambio manual el consumo mixto es de 7.8 l/100 km y de 7.1 l/100 km con el automático.
        <b>PRECIO:  38.825,27<b></p>

	<p><center><h3>Resumen de los datos técnicos</h3></center>

    <p>Número de cilindros	4</p>
    <P>Cilindrada	1.998 cm³</P>
    <p>Potencia máxima	200 CV / 147 kW</p>
    <p>Consumo medio	7,8 l/100 km</p>
    <p>Aceleración 0-100 km/h7,6 s</p>
    <p>Tracción	Trasera</p>
    <p>Caja de cambios	Manual</p>
    <p>Longitud	4.240 mm</p>
    <p>Anchura	1.775 mm</p>
    <p>Altura	1.285 mm</p>
    <p>Peso	1.297 kg</p>
    <p>Número de plazas	4</p>
    <p>Volúmen maletero principal	243 litros</p>
    <p>Neumáticos delanteros	215/45 R17</p>
    <p>Neumáticos traseros	215/45 R17</p>
	</p>

	<body2>
         <fooster>
			 <font color="white">Derechos Reservado | Carlos Cabarca &copy</font>
		 </fooster>
	</body2>
</form>
</body>
</html>